  <div class='wrapper'>
    <div class='new_word_form'>
      <%= form_with model: @word do |form| %>
        <% if @word.errors.any? %>
        <div>
          <ul>
            <% @word.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= form.label :英語 %><br>
        <%= form.text_field :english %>
      </div>
      <div>
        <%= form.label :日本語 %><br>
        <%= form.text_field :japanese %>
      </div>
      <div>
        <%= form.submit value='編集する'%>
      </div>
      <% end %>
    </div>
  </div>
</main>