<main>
  <div class="wrapper">
    <% number = 1 %>
    <% @words.each do |word| %>
      <tr>
        <td><%=number %>問目：</td>
        <td><%= word.japanese %></td>
        <td>
          <input type="text" 
            id="english_answer_<%= word.id %>" 
            placeholder="英語を入力" 
            autocomplete = "off">
        </td>
        <td>
          <button class="check-answer" 
            id="english_button_<%= word.id %>" 
            data-id="<%= word.id %>" >
            答え合わせ
          </button>
        </td>
        <td><p id="result_<%= word.id %>"></p></td>
      </tr><br>
      <% number += 1 %>
    <% end %>
    <p id="total_result_score">正解：0問/<%= number - 1 %>問</p>
    <a href="/">HOMEに戻る</a>
  </div>
</main>
<%= javascript_include_tag "play"%>
